<div class="container  my-5">
  <div class="user my-3 text-center">
    <i class="fas fa-user-secret user-icon"></i>
    <h4 class="login">Login</h4>
  </div>
  <div class="card p-5 w-50 m-auto">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <div>
        <input class="form-control my-2" formControlName="email" placeholder="Enter your email" type="email"
          name="email">
        <em class="text-danger"
          *ngIf="loginForm.controls.email.errors?.required && loginForm.controls.email.touched">email is
          Required</em>
        <em class="text-danger" *ngIf="loginForm.controls.email.errors?.email && loginForm.controls.email.touched">email
          is
          not Valid</em>
      </div>
      <div>
        <input class="form-control my-2" formControlName="password" placeholder="Enter your Password"
          type="password" name="password">
        <em class="text-danger"
          *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.touched">password
          is
          Required</em>
      </div>
      <em class="text-danger" *ngIf="errorMsg">{{errorMsg}}</em>
      <button class="btn btn-default-outline my-2 w-100 rounded">Login</button>
    </form>
  </div>
</div>

